body{
    font-size:15px;
    list-style:1.4em;
    font-family:微軟正黑體;
    color: rgb(247, 247, 247);
   background: url('../images/111.jpg') repeat;
    /*background-color:rgb(27, 27, 27);*/
}

a{
    color: #099ced;
    text-decoration:none;
}

a:hover{
    color: #008ad1;
    text-decoration: underline;
}

.content{
    width: 940px;
    margin: 0 auto;
}

h1.logo a{
    display: block;
    width: 800px;
    height: 200px;
    background: url('../images/bbb.png') no-repeat;
    white-space: nowrap;
    text-indent: 110%;
    overflow: hidden;
}

.header .container{
    position: relative;
}

.header .slogan{
    position: absolute;
    top:40px;
    right: 50px;
}

.slogan strong{
    font-size: 1.5em;
    color: #f5420c;
}

.main-menu{
    background: #f08307;
    margin-bottom: 20px;   
    overflow:auto;
}

.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu ul li{
   /* display: inline-block;*/
   float: left;
    width: 25%;   
}

.main-menu ul li a{
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.main-menu ul li a:hover{
    background: #882406;
}

.main{
    width: 700px;
    float: left;
    padding-bottom: 30px;
}
.side{
    width: 220px;
    float: right;
    padding-bottom: 30px;   
}
.footer{
    background: #333;
    color:#fff;
    text-align:center;
    padding: 20px 0 40px;
    clear: both;
}

.headline{
    border: #ddd 1px solid;
    padding: 10px 10px 10px 10px ;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5em;
   position: relative;
    min-height: 150px;
}

.headline img{
    position:absolute;
    left:10px;  
}

.headline h2{
    margin-top: 0;
    font-size: 1.5em;
}

.headline .more{
    display: block;
    text-align: right;
}

ul.news-list{
    list-style: none;
    margin: 0;
    padding: 0;    
}

.news{
    box-sizing: border-box;
    width: 220px;
    height: 250px;
    overflow: hidden;
    border:#ddd 1px solid;
    padding:10px;
    margin-bottom: 20px;
    float: left;
    /*margin-right: 20px;*/
}

.news:nth-child(3n+2){
    margin-right: 20px;
    margin-left: 20px;
}

.news h2{
margin-top: 0;
line-height: 1.2em;
}

.news .img{
    float: left;
    margin: 0 10px 10px 0;
}

.side-title{
    padding-bottom: 4px;
    border-bottom: #ee8f12 6px solid;
}

.top-news{
    padding-left: 30px;

}

.top-news li{
    line-height: 1.5em;
    padding-bottom: 5px;
}

a.back-top{
    position: fixed;
    bottom: 150px;
    right: 0;
    background: #0e032c;
    padding:10px 20px;
    font-size: 2em;
    color: #fff;
}
